*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#F1F1F1;
    ;
}
.face{
    color: white;
    background-image: linear-gradient(90.4deg, #048C46 -3.21%, #024321 145%);
    height: 48px;
    gap: 10px;
    padding:0px, 150px, 0px, 150px ;
}
.svg{
    height: 20px;
    width: 20px;
    fill: #ffffff
}
rect {
    fill: #ff0000; /* changes the color to red */
  }
.social-icon{
    height: 20px;
    width: 20px;
}
.search-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    
}
.flex-item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    
    
}
.flex-gap{
    gap:5px;
}
.vertical {
    color: white;
    height: 48px;
  }
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    
    
}
.display-flex-reverse{
   
 flex-direction: row-reverse;
    
    
}
.flex-item-direction{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction:column;
    gap: 20px;
    padding: 10px;
}

.nav2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-menu{
  color: black;
 width: 25px;
 height: 25px;
 display: none;
}
.logo1{
    width: 200px;
    height: 48px;
}
.p-home{
    font-size: 20px;
    padding: 12px;
   
}
.select-item1{
    border: none;
    background-color:#F1F1F1;
    color: black;
    font-size: 20px;
    padding: 12px;
    height:48px;
    width: 156px;
}
.select-item2{
    border: none;
    background-color:#F1F1F1;
    color: black;
    font-size: 20px;
    padding: 12px;
    height:48px;
    width: 99px;
    gap: 8px;
    border-radius: 8px;
}
.select-item3{
    border: none;
    background-color:#F1F1F1;
    color: black;
    font-size: 20px;
    padding: 12px;
    height:48px;
    width: 96px;
   
    border-radius: 8px;
}
.select-item4{
    border: none;
    background-color:#F1F1F1;
    color: black;
    font-size: 20px;
    padding: 12px;
    height:48px;
    width: 90px;

    border-radius: 8px;
}
.banner-bg{
    background-image: linear-gradient(to right, black, #011f01);
    border-radius: 0px 0px 0px 96px;
   
}
.btn-export-div{
   margin-top: 10px;
}
.btn-export{
    background-color: #048C46;
    color: white;
    border: none;
    border-radius: 4px 16px 4px 16px;
    width: 189px;
    height: 48px;
    padding: 12px 16px 12px 16px;
}
.btn-export1{
    background-color: rgba(34, 31, 31, 0.171);
    color: white;
    border: 1px solid gray;
    border-radius: 4px 16px 4px 16px;
    width: 189px;
    height: 48px;
    padding: 12px 16px 12px 16px;
}
.btn-new{
    background-color: rgb(255, 232, 127);
    color: black;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;

}
.btn-p{
    opacity: 70%;
}
.btn-div{
    background-color: white;
    color: black;
    border: 1px solid ;
    border-radius: 10px;
    

}
.banner-h2{
    color: white;
    width: 414px;
}
.banner-p{
    color: white;
}
.p-img{
    margin-left: 570px;
    
}
.logo-company-display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.logo-p{
    display: inline;
    color: black;
    border: 1px solid green;
    padding: 1px 10px 1px 10px ;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 23px;
    opacity: 60%;
    border-radius: 4px 16px 4px 16px;
}
.logo-div{
    margin: 50px 0px;
  
}
.logo-h2{
    margin-top: 10px;
}
.deposite-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 50px;
    gap: 30px;
}
.deposit-card1{
    display: inline-block;
    color: black;
    border-top: 1.5px solid green;
    border-left:1.5px solid green ;  
    width: 267px;
    height: 200px;
    border-radius: 3px 56px 3px 56px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    align-content: center;
    
    box-shadow: 2px 2px 1px gray;
    

}
.deposit-card2{
    display: inline-block;
    color: black;
    border: 2px solid green;
    padding: 1px 10px 1px 10px ;
   
    
    border-radius: 3px 56px 3px 56px;
    text-align: center;
    align-content: center;
    margin: 0px 10px 0px 10px;
    width: 267px;
   height: 200px;
   box-shadow: 2px 2px 1px gray;

}
.deposit-cart-export{
    background-image: linear-gradient(to right,#04803F ,#011A0D);
    color: white;
    width: 161px;
    height: 48px;
    display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 4px 24px 4px 24px;
   margin-left: 1018px;
}
.deposit-cart-export-icon{
    width: 24px;
    height: 24px;
    margin-left: 5px;
}
 .memu-card{
    background: linear-gradient(180deg, #011A0D 3%, #04803F 38%, #011A0D 68%, #04803F 98%);
    height: 600px; 
    padding: 50px 50px 60px 50px;

}
.menu-card-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

    .memu-logo-p{
        display: inline;
        background-color: #ffffff;
        color: black;
        padding: 1px 10px 1px 10px ;
       opacity: 60%;
        border-radius: 4px 16px 4px 16px;
    }
    .memu-logo-h2{
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 10px;
        

    }
    .memu-div{
        width: 558px;
        height: 493px;
        border-radius: 4px 32px 4px 32px;
        border: 1.5px solid black;
        padding: 24px;
        background-color: #0268333f;
        box-shadow: 1px 1px 1px gray;
    }
    .memu-div1{
        width: 558px;
        height: 493px;
        border-radius: 4px 32px 4px 32px;
        border: 1.5px solid black;
        padding: 24px;
        background-color: #ffffff;
        box-shadow: 1px 1px 1px gray;
    }
    .thead-memu{
        background: linear-gradient(91.69deg, #04803F -4.29%, #011A0D 272.83%);
        height: 53px;
       
        
    }
    .table-memu{
        border-bottom-color: currentcolor;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        
    }
    .tr-table{
        border-bottom: 1px solid gray;
    }
    .tr-td1{
        color: green;
    }
    .tr-td2{
        color: red;
    }
    .tr-td-img{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;

    }
    .td-img{
        width: 20px;
        height: 20px;
    }
    .memu-card-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .bdt-icon{
        padding: 10px;
    }
    .bdt-div{
        background-color: #FFFFFF;
        border-radius: 4px 32px 4px 4px;
        border: 1px solid #04803F ;
       width: 478px;
        height: 95px; 
     }
     .bdt-div1{
        background-color: #FFFFFF;
        border-radius:4px 4px 4px 32px;
        border: 1px solid #04803F ;
        width: 478px;
        height: 95px;
        margin-top: 20px; 
          } 
          .bdt-div3{
            background-color: #FFFFFF;
           display: flex;
           justify-content: space-between;
           align-items: center;
            border: 1px solid #04803F ;
            border-radius: 5px;
            padding: 15px;  
            height: 35px;
            margin-top: 30px; 
              } 
              .bdt-p{
                font-weight: bold;
              }
              .bdt-span{
                opacity: 60%;
              }
          .reative{
            position: relative;
          }
          .absolute{
            position: absolute;
            right: 109px;
            bottom: 138px;
          }
              
    .card-btn{
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 8px;
        text-align: center;
         background-color: #024d26;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
.card-menu{
    background-color: #FFFACC;
    padding: 35px;
    height: 236px;
    border-radius: 0px 32px 0px 32px;
}
.p-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 50px 50px 50px;
}
.p-card-div1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
    margin-top: 20px;
    width: 310px;
    height: 378px;
    background-color: #ffffff;
    border-radius: 4px 72px 4px 72px;
    border-top: 1px solid green;
    border-left: 1px solid green;
    box-shadow: 1px 1px 1px gray;
    padding: 15px;
}
.p-card-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
    margin-top: 20px;
    width: 310px;
    height: 378px;
    background-color: #ffffff;
    border-radius: 4px 72px 4px 72px;
    border: 2px solid green;
    box-shadow: 1px 1px 1px gray;
    padding: 15px;
}
.p-card-img{
    width: 316px;
    height: 237px;
    border-radius: 8px 64px 8px 64px;
}
.export-icon-btn{
   color: green;
   background-color: white;
   font-size: 17px;
   font-weight: bold;
   border: none;
   padding: 1px 2px 1px 2px;
   margin-left: 180px;

}
.p-card-p{
    opacity: 60%;
}
.p-card-div-item{
    display: flex;
    gap: 50px;
   
}
.export-logo-p{
    display: inline;
    background-color: #ffffff;
    color: black;
    padding: 1px 10px 1px 10px ;
    border-radius: 4px 16px 4px 16px;
    border: 1px solid green;
    box-shadow: 1px 1px 1px gray;
}
.p-pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.section-div{
    padding-top:50px ;
    padding-bottom: 50px;
    background-color: #e3e3e3;
}
.section-div1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 558px;
    height: 315px;
    padding: 30px;
}
.section-div-img{
    border-radius: 4px;
}

.section-div-h1{
    font-size: 64px;
  font-weight: bold;
} 
.service-card-div{
    padding: 50px 50px 50px 50px;
}
.service-card-h1{
    margin-top: 5px;
}
.service-card-div1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 40px 32px 40px 32px;
    width: 461px;
    height: 150px;
    border-radius: 4px 56px 4px 56px;
    border: 1px solid green;
    background-color: #FFFACC;
    margin-top: 50px;
}
.service-card-div2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 655px;
    height: 150px;
    border-radius: 4px 56px 4px 56px;;
    border: 1px solid #00A650;
    background-color: #BFF0D4;
    margin-top: 50px;
    padding: 40px 32px 40px 32px;
}
.service-card-div3{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 40px 32px 40px 32px;
    width: 364px;
    height: 150px;
    border-radius: 4px 56px 4px 56px;
    border: 1px solid green;
    background-color: #E6F9AF;
    
}
.service-card-div4{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 40px 32px 40px 32px;
    width: 364px;
    height: 150px;
    border-radius: 4px 56px 4px 56px;
    border: 1px solid green;
    background-color: #F4E285;
   
}
.service-card-div5{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 40px 32px 40px 32px;
    width: 364px;
    height: 150px;
    border-radius: 4px 56px 4px 56px;
    border: 1px solid green;
    background-color: #FAC9B8;
    
}
.service-first-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.service-first-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
   
}

.service-card-img{
    width: 35px;
    height: 35px;
}
.service-card-p{
    line-height: 25px;
  opacity: 50%;
}
.review-first-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 20px;
   margin: 40px 0px 40px 0px;
}
.review-bg{
    background-image: linear-gradient(to right, black, #011f01);
   
   
}
.review-card-div{
  background-image: linear-gradient(to right, black, #011f01);
  padding: 40px;
  width: 364px;
  height: 50px;
  border-radius: 4px 56px 4px 56px;
  border: 1px solid green;
  color: white;
  text-align: center;
  line-height: 39px;
}
.mobile-banking-div{
        background-image:linear-gradient(496deg, #001229,#001229, #02813F,#001229) ;
        color: white;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 50px 60px 50px 60px;
        border-radius: 10px;
        margin: 0px 50px 50px 50px;
    
}
.mobile-banking-div1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 390px;
    height: 263px;
}
.mobile-logo-p{
    display: inline;
    background-color: #ffffff;
    color: black;
    padding: 1px 10px 1px 10px ;
    border-radius: 4px 16px 4px 16px;
    border: 1px solid green;
    box-shadow: 1px 1px 1px gray;

}
.mobile-button-div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.mobile-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    gap: 2px;
}
.testimonial-section{
   padding: 50px 50px 50px 50px;
   background-image: linear-gradient(310deg, rgba(245, 245, 137, 0.911),#011f01,pink);
   
}
.testimonial-section-div{
    display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #FFFFFF;
  color: black;
  width: 320px;
  height: 225px;
  border-radius: 4px 56px 4px 56px;
  border: 1px solid green;
  margin-top: 50px;
  padding: 20px 30px 20px 50px;
  gap: 28px;
 
}
.testimonial-section-div1{
    display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #004F2D;
  color: white;
  width: 320px;
  height: 225px;
  border-radius: 4px 56px 4px 56px;
  border: 1px solid green;
  margin-top: 50px;
  padding: 20px 30px 20px 50px;
  gap: 28px;

}
.testimonial-section-img{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:10px;
}
.testimonial-section-p1{
   font-weight: bold;
}
.testimonial-section-p2{
    opacity: 50%;
 }
 .testimonial-section-second-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
 }
 .testimonial-btn{
  background-color: #048C46;
  color: white;
  border: none;
  border-radius: 2px 26px 2px 26px;
  width: 141px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  margin-left: 1109px;
  margin-top: 47px;
 }
 .event-main-div{
  padding: 50px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
 }
 .event-div1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 302px;
    height: 300px;
    border: 1px solid green;
    border-radius: 4px 70px 4px 70px;
    padding: 30px
 }
 .event-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .event-date{
    color: white;
  background-color: green;
  padding: 3px 8px 3px 8px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
 }
 .event-p{
    opacity: 60%;
    margin-top: 10px;
 }
 .event-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .event-page-btn{
  background-color: #048C46;
  color: white;
  border: none;
  border-radius: 2px 26px 2px 26px;
  width: 141px;
  height: 48px;
  padding: 12px 16px 12px 16px;

 }
 .color-div1{
    background-color: #05A954;
    width: 720px;
    height: 12px;

 }
 .color-div2{
    background-color: red;
    width: 720px;
    height: 12px;

 }
 .color-div{
    display: flex;

 }
 .footer{
    background-color: #09342F; 
    color: white;
    height: 430px;
    padding: 50px 50px 50px 50px;
 }
 .user-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: #F1F1F1;
    color: black;
    border-radius: 4px 16px 4px 16px;
    border: 1px solid gray;
    width: 340px;
    height: 48px;
   
    
 }
 .user-div-input{ 
    border: none;
    background-color: #F1F1F1;    
 }
 .user-submit{
    width: 167px;
    height: 48px;
    border-radius: 4px 16px 4px 16px;
    padding: 12px 24px 12px 24px;
    background-image:linear-gradient(91.69deg, #04803F -4.29%, #011A0D 272.83%);
    color: white;
    
 }
 .user-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 .user-email-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 261PX;
    padding-bottom: 20px;
 }
 .footer-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 348px;
    height: 200px;
    gap: 32px;
    
 }
 .footer-div1-div{
    display: flex; 
    justify-content: start; 
    align-items: center;
    gap: 10px;
}
.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
   
}

.footer-item-div{
    
    text-align: center;
}
.footer-item-div-h2{
    margin-bottom: 15px;
}
.footer-item-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 12px;
}
.footer-item-div1-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}
.footer-second-div{
    display: flex;
     gap: 100px;
}
.envilap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.footer-last-div{
    background-color: #011A0D ;
    padding: 30px;
    color: white;
 }
 .footer-last-div1{
    padding-left: 20px;
    padding-right: 30px;
 }
@media(max-width: 600px) {
   
    .nav-menu{
        background-color: #F1F1F1;
        color: black;
        width: 25px;
        height: 48px;
        display: block;
      
      }
    .mobile{
        display: none;
    }
    .display-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding-left: 10px !important  ;
        padding-right: 10px !important;
    }
    .banner-res{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4px;
        gap: 8px;
        margin-left: 0px !important;
    }
    .deposit-cart-export{
    
       margin-left: 0px;
    }
    .menu-card-dev{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    .memu-div{
        width:318px;
    }
    .memu-p{
        font-size: 12px;
    }
    .memu-h2{
     font-size:22px;
    }
    .bdt-div{
     width: 100%;
    }
    .bdt-div1{
        width: 248px;
    }
    .absolute{
        right: 50px;
    }
    .bdt-p{
        font-size: 17px;
    }
    .p-card-div-item{
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .export-h1{
        font-size: 26px;
       margin-top: 5px;
    }
    .menu-card-dev{
        flex-direction: column;
    }
    .memu-diiv1{
        width: 486px;
    }
    .thead-memu{
        font-weight: bold;
    }
    .memu-card{
        height: 100%;
    }
    .memu-div1{
        width: 470px;
    }
    .p-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -25px;
        margin-bottom: -25px;
    }
    .section-div{
        background-color: #e3e3e3;
        padding: 14px 5px 0px 5px;
    }
    .display-flex1{
        display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 10px;
       padding: 5px 10px 0px 10px;
    }
    .section-div-img{
        border-radius: 4px;
        width: 450px;
    }
    .section-div1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .section-div-h1{
        font-size: 30px;
    }
    .service-card-div {
        padding: 20px 10px 20px 10px;
      }
    .service-card-h1 {
        margin-top: 5px;
        font-size: 24px;
      }
    .service-first-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }
    .service-card-div1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        padding: 40px 32px 40px 32px;
        width: auto;
        height: 150px;
        border-radius: 4px 56px 4px 56px;
        border: 1px solid green;
        background-color: #FFFACC;
        margin-top: 15px;
    }
    .service-card-div2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        width: auto;
        height: 150px;
        border-radius: 4px 56px 4px 56px;
        border: 1px solid #00A650;
        background-color: #BFF0D4;
        margin-top: 15px;
        padding: 40px 32px 40px 32px;
    } 
    .service-first-div1 {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 30px;
        gap: 10px;
        flex-direction: column;
      }
      .review-first-div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 20px;
        margin: 40px 0px 40px 0px;
        flex-direction: column;
      }
      .mobile-banking-div {
        background-image: linear-gradient(496deg, #001229,#001229, #02813F,#001229);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 20px 0px;
        border-radius: 10px;
        flex-direction: column;
        padding: 20px;
        margin:25px 0px 0px 0px;
      }
      .mobile-banking-div1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        padding: 10px;
        height: 263px;
        width: auto;
      }
      .testimonial-section {
        padding: 20px;
        background-image: linear-gradient(310deg, rgba(245, 245, 137, 0.911),#011f01,pink);
        margin-top: 10px;
      }
      .service-card-h1 {
        margin-top: 10px;
        font-size: 26px;
      }
      .testimonial-section-div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: #FFFFFF;
        color: black;
        height: 225px;
        border-radius: 4px 56px 4px 56px;
        border: 1px solid green;
        margin-top: 30px;
        padding: 20px 30px 20px 50px;
        gap: 28px;
        width: auto;
      }
      .testimonial-section-div1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: #004F2D;
        color: white;
        width: auto;
        height: 225px;
        border-radius: 4px 56px 4px 56px;
        border: 1px solid green;
        margin-top: 30px;
        padding: 20px 30px 20px 50px;
        gap: 28px;
      }
      .testimonial-btn{
        width: 155px;
        margin: 20px 0px 0px 20px;
      }
      .testimonial-section-second-div{
        justify-content: start;
        flex-direction: column;
      }
      .event-main-div{
        padding: 20px;
      }
      .event-div{
        flex-direction: column;
        gap: 20px;
      }
      .user-email-div{
        gap: 30px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: normal;
      }
    
    .footer {
      background-color: #09342F;
      color: white;
      height: auto;
      padding: 30px;
      height: auto;
    
    
    }
      .footer-h1{
        font-size: 26px;
      }
      .footer-div{
        flex-direction: column;
        align-items: start;
      }
      .footer-item-div {
        text-align: start;
      }
      .footer-item-div1{
        align-items: start;
        padding-top: 10px;
        gap: 5px;
      }
      .footer-second-div{
        gap: 4px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
      }
      .footer-item-div1-location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-top: 10px;
        gap: 5px;
      }
      .footer-last-div-sp{
        margin-left: 25%;
        margin-top: 30px;
      }
      .display-flex{
        gap: 5px;
        padding: 20px;
      }
}
@media only screen and (min-width: 600px) {
    .tablet-show{
        display: flex;
        flex-wrap: wrap;
        height:auto;
        gap: 10px;
        
    }

} 
